<style>
    .btn_big_img_txt{
        width: 10em;
        height: 7em;
        margin: 0 .5em;
        vertical-align: middle;
        border-radius: 1em;
        outline: none;
    }
    .btn_big_img_txt:active{
        animation: btn_big_img_txt .5s forwards linear;
    }
    .btn_big_img_txt img{
        height: 2.3em;
        width: 2.3em;
        margin: 0 0 .2rem;
    }
    .btn_big_img_txt span{
        margin: 1rem auto;
        max-width: 8em;
    }

    @keyframes btn_big_img_txt {
        0%{}
        90%{background-color: gray;}
        100%{background-color: white;}
    }
</style>
<button class="btn_big_img_txt">
    <img src="https://image.flaticon.com/icons/svg/149/149071.svg" alt=""><br>
    <span><%- blue || "aasda"%></span>
</button>