<button style="width: 11em;height: 7em;vertical-align: middle;border-radius: 1em;">
    <img src="https://image.flaticon.com/icons/svg/149/149071.svg" alt="" style="height: 2.3rem; margin: 0 0 .2rem;"><br>
    <span style="margin: 1rem auto; max-width: 8em;">TEST Bsdasdasd</span>
</button>